{% extends 'HMS/basic.html' %}

{% block title%} Carrer {% endblock %}

{% block body %}

</head>
<body>

	<section class="about-company-section">
		<div class="container p-1 p-sm-3">
			<div class="row">
				<div class="col-12 text-center">
					<h2>Career at Hospital</h2>
					<hr/>
				</div>

				<div class="col-md-5">
					<img class="img-fluid" src="https://uploads.sarvgyan.com/2016/04/Hospital-Management.jpg">
				</div>

				<div class="col-md-7">
					<p>
						Dubai Hospital: The development of Dubai is visualized since the mid 1970s. DOHMS have taken decision to construct a specialized hospital because of increase in population and diseases in 1977. The Dubai Hospital started its operations from March 1983. It helped a lot in improving medical services in Dubai. Hospital have very good infrastructure. It contains 14 stories in which lower two for emergency and rest of the part is for wards. Dubai hospital is known for latest and best medical treatment of its patient. It is also working in the area of medical research.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="current-opening">
		<div class="container">
			<div class="container pb-1 mt-3 mb-4 bg-primary text-white">
				<h2>Current job opening</h2>
			</div>

			<h4>Click on the section to view a list of current opening in medical and non-medical vacancies in hospital</h4>

			<div class="row m-5">
				<div class="col-md-4 col-sm-12">
					<a href="#">
						<div class="thumbnail text-center bg-primary text-white p-2">
							<img class="img-fluid mb-2" src="https://images.unsplash.com/photo-1542736667-069246bdbc6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80">
							<h4>Medical job openings</h4>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-12">
					<a href="#">
						<div class="thumbnail text-center bg-primary text-white p-2">
							<img class="img-fluid mb-2" src="https://images.unsplash.com/photo-1514416309827-bfb0cf433a2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80">
							<h4>Non-medical job openings</h4>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-12">
					<a href="#">
						<div class="thumbnail text-center bg-primary text-white p-2">
							<img class="img-fluid mb-2" src="https://lh3.googleusercontent.com/proxy/ZUtEJ0yTs7VsqQSvj7AyPToYDGq52B2dFOeZAqfI0EJmmMP9YYrCvik2hmQRn3-7xk6yAqIbnkudmUbm-etPJlHRS7Ymc2rWVUq45IOGlYH-vxC3eJzl9iV_LhH4ur0gB1GnGdvg">
							<h4>Support Staff</h4>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container mt-4">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="thumbnail">
						<img class="img-fluid" src="https://qtxasset.com/styles/breakpoint_sm_default_480px_w/s3/fiercehealthcare/1533753160/healthcare_costs.jpg/healthcare_costs.jpg?HRruSjVr6PJnmKUDuAkUoSDAaXe55C5j&itok=nPfvDv3F">
						<div class="overlay-box">
						<h4>Growth &
						opportunities</h4>
						<p>At reliance Hospital</p>
						<hr>
							<button class="btn btn-warning"><a href="">Read More</a></button>
					</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQra4ZGhzPX03d3X_-e8fOTVdMBj89Fx1si8A&usqp=CAU">
					<div class="overlay-box">
						<h4>Why <br>
						Join Us</h4>
						<p>At reliance Hospital</p>
						<hr>
						<button class="btn btn-warning"><a href="">Read More</a></button>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<img class="img-fluid" src="https://www.hamiltonhealthsciences.ca/wp-content/uploads/2019/06/April-and-Omi-highschool-student-websize-9_preview-1024x683.jpeg">
					<div class="overlay-box">
						<h4>Learning
						Opportunities for student</h4>
						<p>At reliance Hospital</p>
						<hr>
						<button class="btn btn-warning"><a href="">Read More</a></button>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQJ-nSGNtNR2sOUABsNb7Rpyvi6luJiDfQStg&usqp=CAU">
					<div class="overlay-box">
						<h4>Care For<br>
						Employees</h4>
						<p>At reliance Hospital</p>
						<hr>
						<button class="btn btn-warning"><a href="">Read More</a></button>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}