{% extends 'HMS/basic.html' %}

{% block title%} Health Checkup {% endblock %}

{% block body %}
<body>
  <div class="row" style="background-color: white;" >
   
    <div class="col-sm-6">
      <img src="https://cdn-2.tstatic.net/style/foto/bank/images/ilustrasi-tes-darah_20170201_080043.jpg" style="max-width: 680px;"/>
    </div>

    <div class="col-sm-6" >
      <h2> Health Checkup Packages - Wellness Centre </h2>
      <h6>Good health is the key to a happy and fruitful life; it is also the most neglected asset. Our lifestyle today is ridden with unnecessary stress, irregular working hours, and poor eating habits, late night partying and inadequate rest. All these coupled with high pollution levels result in physical and psychological health problems.</h6>
        <br>
        <h3>Monitor Your Health </h3>
        <br>
      <h6> People tend to ignore their health until faced with medical complications. Health problems can be managed more effectively if detected at an early stage. Hence, health monitors have become the need of the hour. This is where the Wellness Clinic at SevenHills Hospital comes in to the picture to help you.</h6>
    </div>
    
  </div>
  <br>

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center ">
    
    <span class="navbar-text">
      <h5>Cancer Screening Package</h5>
    </span>
  </nav><br>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Pathology Test</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Test for Diabetes</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Urine Test</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Stool Test</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Test for Heart Diseases</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Test for Liver Diseases</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Tests for Kidney Diseases</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Cancer Marker Tests</h6>
  <h4><img src="https://img.icons8.com/windows/32/000000/rupee.png"/>5,800</h4>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center ">
    
    <span class="navbar-text">
      <h5>Classic Package for Pre Employment Package</h5>
    </span>
  </nav><br>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Pathology Test</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Test for Diabetes</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Urine Test</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Tests for Hepatitis B</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Diagnostic Tests</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Consultations</h6>
  <h4><img src="https://img.icons8.com/windows/32/000000/rupee.png"/>1,100</h4>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center ">
    
    <span class="navbar-text">
      <h5>Diabetes Package</h5>
    </span>
  </nav><br>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Pathology Test</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Test for Diabetes</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Urine Test</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Test for Heart Diseases</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Test for Kidney Diseases</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Test for Liver Diseases</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Stress Test + 2D Echo Screening</h6>
  <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Consultation</h6>
  <h4><img src="https://img.icons8.com/windows/32/000000/rupee.png"/>5,300</h4>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center ">
    
    <span class="navbar-text">
      <h5>Platinum Package</h5>
    </span>
  </nav><br>
<h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Pap Smear Test</h6>
<h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>G6PD</h6>
<h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Urine Test</h6>
<h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Audiometry</h6>
<h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Thyroid Harmone Test</h6>
<h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>HIV</h6>
<h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Blood Pressure</h6>
<h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Test for Heart Diseases</h6>
<h4><img src="https://img.icons8.com/windows/32/000000/rupee.png"/>11,000</h4>


  {% endblock %}
  {% block js %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

{% endblock %}
  
  
  
  
  
