{% extends 'HMS/basic.html' %}

{% block title%} Health Insurance Policy {% endblock %}

{% block body %}
</head>
<style>
    body{
        background-image: url(https://images.pexels.com/photos/2088205/pexels-photo-2088205.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .custom-select{
        width: 40%;
        padding: 3px;
    }
</style>
<br>
<body class="caresem_body popup_overflow">
                                                      
                </header>
   
    <div class="bottom_maincontainer">
        <div class="container">
            <h3>Why Do You Need Health Insurance?</h3>

<p>Health insurance policy is crucial to managing health care needs. A medical emergency can occur at any time, and one-time hospitalization can cost you lakhs of rupees. You need to be well-prepared to face such a critical situation if you have a loving family. But, still, if the question scorches your mind, that why you need health insurance then read on.</p>

<ul>
	<li>Increased pollution level cause severe respiratory problems</li>
	<li>Sedentary lifestyle reported a higher number of hospitalization</li>
	<li>Unhealthy food habits causing life-threatening diseases&nbsp;</li>
	<li>Cancer patients are increasing day by day</li>
	<li>Medical inflation making the treatment out of the pocket expense</li>
	<li>Chronic diseases like diabetes, hypertension, and thyroid need on-going treatment</li>
	<li>Critical illnesses such as cancer, kidney failure, tumours, and more need advance treatment</li>
	<li>Pandemic outbreaks like coronavirus</li>
</ul>

<p>&nbsp;</p>

<p>Therefore, in this difficult situation, a robust health insurance policy comes as a savior. So, beat the heat of inflation and medical exigency and avail outstanding benefits of our Health Insurance Policy now.</p>

<h3>Why to Opt for Care Health Insurance?</h3>

<p>Choosing the right health insurance amongst a plethora of available options can be a daunting task. But, at Religare Health Insurance, you can opt for customized health insurance that caters to your and your family&rsquo;s health care needs. Take a look at more excellent features that make it the best individual and family health insurance.</p>

<ul>
	<li>Coronavirus Coverage&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
	<li>Lifelong renewability</li>
	<li>Super top-up option</li>
	<li>No Claim Bonus</li>
	<li>Robotic Surgery</li>
	<li>Annual Health Check-Up</li>
	<li>Discounted premium</li>
	<li>In-patient hospitalization</li>
	<li>Pre and post hospitalization</li>
	<li>Day care treatments</li>
	<li>AYUSH treatment</li>
	<li>Free look Period</li>
	<li>Emergency Ambulance</li>
	<li>Tax Benefit under section 80D</li>
</ul>

<p>We serve our customers with 93% insurance claim settlement ratio, plus provide cashless treatment facility at 7800+ network hospitals with 24x7 customer support. We ensure that all your family members get the benefits under the coverage so that you do not need to sacrifice your savings.</p>

<h3>Don&rsquo;t wait for a medical emergency to knock your door, choose complete protection for you and your family with Health Care Insurance.</h4>

<h5>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1" >Name </label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Name" style="width: 40%;border-radius: 15px;">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Mobile No.</label>
    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter your Number" style="width: 40%;border-radius: 15px;">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="exapmle@gmail.com" style="width: 40%;border-radius: 15px;">

  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Address</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter your Address" style="width: 40%;border-radius: 15px;">
  </div>
  
  <select class="custom-select">
  <option selected>Insurance Plan</option>
  <option value="1">HMO Plan</option>
  <option value="2">POS Plan</option>
  <option value="3">PPO Plan</option>
  <option value="3">FFS Plan</option>
</select><br><br>
<select class="custom-select ">
  <option selected>Insurance Coverage</option>
  <option value="1">Job Based Coverage</option>
  <option value="2">Self Coverage</option>
  <option value="3">Benifits Coverage</option>
</select><br><br>
<div class="form-group">
    <label for="exampleInputEmail1">Any Health Issue</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Health issues" style="width: 40%;border-radius: 15px;">
    
  </div>
<br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</h5>
                    </div>
    </div>
{% endblock %}   