{% extends 'HMS/basic.html' %}
{% block title%} Visitor Information {% endblock %}
  {% block body %}
  <body>
    <div class="row" style="background-color: rgb(99, 80, 80);" >
     
      <div class="col-sm-6">
        <img src="https://www.iconfinder.com/data/icons/medical-flat-1-1/180/Receptionist-512.png"/>
      </div>

      <div class="col-sm-6" >
        <h1> Healthcare Made Affordable </h1>
        <h6>The tradition and experience in delivering affordable healthcare services in a patient-friendly environment with a strong belief in ethics and transparency is now a medical practice at Our Hospital. We have established ourselves as a comprehensive healthcare system. </h6>
      </div>
      
    </div>
    <br>
  
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center ">
      
      <span class="navbar-text">
        <h5>Visitor Information</h5>
      </span>
    </nav><br>
    <h4>Visiting Hours</h4>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>The hospital visiting hours - Evening - 4.00 pm to 7.00 pm</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>The ICU visiting hours - Evening - 4.00 pm to 7.00 pm</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Visiting hours on Sundays and Public Holidays - 10.00 am to 1.00 pm</h6>
    <h4>Visitor’s Pass</h4>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>You are requested to collect the Visitor’s and Attendant’s pass from the reception.</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Only one visitor pass is issued per patient.</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>A reliever pass can be collected from the front office desk at the time of admission procedure.</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Only one visitor is allowed to visit the ICU.</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Children below the age of 12 are not allowed into patients’ rooms.</h6>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center ">
      
      <span class="navbar-text">
        <h5>Admission</h5>
      </span>
    </nav><br>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Our Consultant advises admission; OR</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Your personal doctor recommends hospitalization, OR</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Our Casualty Department advises admission.</h6>
    
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center ">
      
      <span class="navbar-text">
        <h5>Admission procedure</h5>
      </span>
    </nav><br>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Either the patient or relative must contact the front office staff.</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>An admission form will be provided for completion with patient details, and a consent form to be signed for the treatment that will be provided.</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Once the registration formalities are completed, the patient is escorted to the room.</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Only one attendant is allowed to accompany the patient.</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>An attendant’s pass will be issued to the person accompanying the patient. The validity must be renewed, should the patient’s stay be prolonged</h6>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center ">
      
      <span class="navbar-text">
        <h5>You Are Requested To Bring The Following Items To The Hospital</h5>
      </span>
    </nav><br>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>All necessary Medical Reports and X-rays</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>List of medications currently being taken</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Personal toiletries, slippers, night clothes, and towels as per your need</h6>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center ">
      
      <span class="navbar-text">
        <h5> You Are Requested Not To Bring The Following Items To The Hospital</h5>
      </span>
    </nav><br>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Jewellery and valuables</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Electrical appliances,Eatables,Flowers</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>The hospital will not accept liability for loss of any personal articles</h6>
    
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center ">
      
      <span class="navbar-text">
        <h5>Discharge Procedure</h5>
      </span>
    </nav><br>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Discharge will be given by the consulting doctor. The ward executive will initiate discharge formalities.</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Billing counters are located on each level, thus ensuring prompt and efficient handling.</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>On payment of bill, a folder containing the discharge papers and instructions for future treatment, follow-up visit with the consultant, etc. will be given.</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>At the time of discharge Vistor and Attendent pass to be deposited at front desk</h6>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center ">
      
      <span class="navbar-text">
        <h5>Meals and Snacks</h5>
      </span>
    </nav><br>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Vegetarian meals are hygienically prepared under the supervision of trained personnel.</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Therapeutic diets are carefully planned by our dietetics team.</h6>
     
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center ">
      
      <span class="navbar-text">
        <h5>Accommodation for Relatives</h5>
      </span>
    </nav><br>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>Dormitory facility is available on request, for relatives of patients in the ICU.</h6>
    <h6><img src="https://img.icons8.com/android/24/000000/forward-arrow.png"/>For Dormitory facility, please contact the reception desk.</h6>
    {% endblock %}
    {% block js %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>

{% endblock %}